<body>
    <header>
      <nav class = "navbar navbar-expand-lg">
        <div class = "container">
          <a class = "navbar-brand">Football Management</a>
          <div class = "navbar-nav">            
            <a routerLink="/home">HOME</a>
            
            <a routerLink="/team">Teams</a>
            <a routerLink="/match">Matches</a>
            <a routerLink="/book">book</a>
            <a routerLink="/login">Logout</a>
          </div>
        </div>
      </nav> 
</header>



