<app-nav></app-nav>
<body>
    <header> 
      <div class="container">
        <div class="content">
            <h1 style="text-align: center;margin: 10px;">FootFrenzy</h1>
            <p>Welcome to FootFrenzy, your premier destination for foot care and relaxation services. Whether you're seeking relief from tired feet or simply looking to pamper yourself, our experienced team is here to provide you with the ultimate experience in foot care.</p>
           <br> <a routerLink="/match"><button style="text-align: center;margin: 10px;align-items: center;">Upcoming match</button></a>
        </div>
        <div class="image">
            <img src="../../assets/FIFA-World-Cup-football-Illustration-by-Suneesh-K-770x433.avif" alt="Image">
        </div>
        
    </div>
    </header> 

   <app-footer></app-footer>
</body>
